<!DOCTYPE HTML> <!-- Setting versi HTML ke HTML5 -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Judul Halaman</title>
  <link rel="stylesheet" type="text/css" src="alamat_css.css">
</head>
<body>
<header>
  <!-- Bagian Header -->
</header>
<nav>
  <!-- Navigasi Atas -->
</nav>

<main>
  <!-- Bagian Utama -->
</main>

<footer>
  <!-- Bagian Bawah -->
</footer>

<!-- JS diletakkan di bawah agar browser menampilkan HTML & CSS terlebih dahulu-->
<script src="alamat_js.js"></script>
</body>
</html>
